/* p,h1 is selector */
/* all content in these brackets {} is declaration/rules */
.car-body{
    background-color: blue;
    height: 100px;
    width: 200px;
}

.car-wheel{
    background-color: black;
    height: 50px;
    width: 50px;
}

.car-headlight{
    background:yellow;
    height: 20px;
    width: 20px;
}

